/* Jumbotron styling for main homepage */

.jumbotron {
    background-image: url("assets/gif/hospital.gif");
    background-size: cover;
    height: 300px;
}

/* Center content inside of a collumn in BS */
.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
 }
 
 /* Validation Errors Styling */

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}