<main role="main">

    <div class="container">

      <div class="row">
        <div class="col-md-12">

          <div>
              <h1 class="display-3"><strong>Welcome TGH! <i style="color:#fc5c65;" class="fas fa-hospital"></i> </strong></h1>
              <h6>
                Thank you for taking the time and I am extremely excited! That said this is a pretty
                simple and straightforward demo but it encomapasses a ton of Angulars principles. 
                See the components below for more info. <br/> If you want to see my skills with UI/UX
                (Which I have many <i style="color:#3867d6;" class="fas fa-smile-wink"></i> ) please go to my portfolio website: 
                <a href="http://www.patrickflorian.ga" target="_blank">www.patrickflorian.ga</a>
                Built with Angular 2 (V 6)  <i style="color:#eb3b5a;" class="fab fa-angular"></i>
              </h6>
          </div>

        </div>

        <hr>

      </div>

      <div class="jumbotron">
      </div>

      <div class="row align-items-center justify-content-center">
        
        <div class="col-md-6">
          <div class="card center-block" style="width: 18rem;">
              <img class="card-img-top" src="assets/img/nurse1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"> <i class="fas fa-user-md"></i> List of Nurses</h5>
                <p class="card-text">
                  A demo of a list of nurses with some CRUD (Create , Read, Update, & Delete) elements
                  using principles like dependency injections, promises / observables , http, & importing external components.
                </p>
                <a routerLink="/nurses" class="btn btn-custom-card">Go to nurses</a>
              </div>
            </div>
        </div>

        <div class="col-md-6">
          <div class="card center-block" style="width: 18rem;">
              <img class="card-img-top" src="assets/img/nurse2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"> <i class="fab fa-wpforms"></i> New Patient Form</h5>
                <p class="card-text">A 'dummy' login template driven form and a reactive form for a 'new patient' using principles like two-way binding, 
                  custom validation, re-usable components, services & classes, and directives. No saving to the db usually I use Firebase or or Laravel (PHP)
                </p>
                <a routerLink="/new-patient" class="btn btn-custom-card">Go to new patient</a>
              </div>
            </div>
        </div>

      </div> <!-- /row -->

      <hr>

    </div> <!-- /container -->

  </main>